@media only screen and (min-width:320px) and (max-width:480px) {

  /* header */
  header {
    flex-direction: column;
    background: none;
  }

  .logo {
    padding: 15px 0 15px 0;
    background: linear-gradient(to right, black, gray);
    width: 100%;
    text-align: center;
    border: 1px solid green;
  }

  .navbar {
    background: linear-gradient(to right, black, gray);
    width: 100%;
    display: none;
  }

  .logo:hover+.navbar {
    display: block;
  }

  .navbar ul {
    display: block;
  }

  .navbar li {
    text-align: center;
    padding: 10px;
  }

  .navbar a {
    font-size: 16px;
  }


  /* main */
  section .maindiv {
    grid-template-columns: auto;
    padding: 15px 0 0 0;
  }

}


@media only screen and (min-width:481px) and (max-width:767px) {

  /* header */
  .logo a {
    margin: 8px;
  }

  .navbar li {
    padding: 20px 10px;
  }

  .navbar a {
    font-size: 18px;
  }

  /* main */
  section .maindiv {
    grid-template-columns: auto auto;
    padding: 20px 0 0 0;
  }

}


@media only screen and (min-width:768px) and (max-width:1024px) {

  /* header */
  .navbar li {
    padding: 25px 30px;
  }

  /* main */
  section .maindiv {
    grid-template-columns: auto auto auto;
    padding: 25px 0 0 0;
  }

}


@media only screen and (min-width:1025px) and (max-width:1201px) {

  /* header */
  .navbar li {
    padding: 35px 30px;
  }

  .navbar a {
    font-size: 24px;
  }

  /* main */
  section .maindiv {
    grid-template-columns: auto auto auto auto;
  }

}