*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* -------header------- */
header {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: #f0e7e7;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 50px;
}

.contact-us {
  margin-right: 0;
  position: relative;
  border: 2px solid springgreen;
}

/* .contact-dropdown {
  position: absolute;
  left: 65px;
  border: 1px solid #face;
  width: 40px;
  height: calc(100vh - 50px);
} */

.contact-ul-dropdown {
  display: inline-flex;
  position: fixed;
  right: 3px;
  /* border: 1px solid green; */
  height: 0px;
  bottom: 0;
  width: 40px;
}

.contact-ul-dropdown li {
  margin: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  /* border: 1px solid yellow; */
}

.contact-ul-dropdown li a {
  text-align: center;
  width: 20px;
  background-color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-top: 2px;
  padding: 10px;
  transition: color 300ms;
}

.fa-facebook-f:hover {
  color: #1976F2;
}

.fa-twitter:hover {
  color: #1C9AF0;
}

.fa-envelope:hover {
  color: #352315;
}

.fa-telegram:hover {
  color: #2394CE;
}

.fa-whatsapp:hover {
  color: #47C657;
}

.fa-reddit:hover {
  color: #FF4500;
}

.fa-plus:hover {
  color: rgb(33, 89, 255);
}



/* -------main------- */
main article {
  width: 100%;
  margin: auto;
}

/* article-1 */
.article-1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  justify-content: space-between;
}

.article-1-content {
  position: relative;
}

.article-1-content img {
  width: 100%;
  height: 100%;
}

.arti-1-subcontent {
  position: absolute;
  bottom: 2px;
  display: flex;
}

.arti-1-subcontent a {
  width: 120px;
  height: 70px;
  margin: 0 25px;
}


/* article-2 */

.article-2-content {
  width: 93%;
  margin: auto;
  /* border: 2px solid blue; */
  box-sizing: border-box;
}

/* footer */