/* all animation css file */

/* contact in nav bar with slide effect animation */
/* 1 */
#facebook {
  animation: fb-out 1s;
}

.contact-us:hover #facebook {
  animation: fb-in 1s ease-in-out forwards;
}

@-webkit-keyframes fb-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 66px);
    opacity: 1;
  }
}

@-webkit-keyframes fb-out {
  from {
    bottom: calc(100% - 66px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 2 */
#twitter {
  animation: tw-out .9s;
}

.contact-us:hover #twitter {
  animation: tw-in 1s .2s ease-in-out forwards;
}

@-webkit-keyframes tw-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 108px);
    opacity: 1;
  }
}

@-webkit-keyframes tw-out {
  from {
    bottom: calc(100% - 108px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 3 */
#envelope {
  animation: en-out .8s;
}

.contact-us:hover #envelope {
  animation: en-in 1s .4s ease-in-out forwards;
}

@-webkit-keyframes en-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 150px);
    opacity: 1;
  }
}

@-webkit-keyframes en-out {
  from {
    bottom: calc(100% - 150px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 4 */
#telegram {
  animation: te-out .7s;
}

.contact-us:hover #telegram {
  animation: te-in 1s .6s ease-in-out forwards;
}

@-webkit-keyframes te-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 192px);
    opacity: 1;
  }
}

@-webkit-keyframes te-out {
  from {
    bottom: calc(100% - 192px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 5 */
#whatsapp {
  animation: wh-out .6s;
}

.contact-us:hover #whatsapp {
  animation: wh-in 1s .8s ease-in-out forwards;
}

@-webkit-keyframes wh-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 234px);
    opacity: 1;
  }
}

@-webkit-keyframes wh-out {
  from {
    bottom: calc(100% - 234px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 6 */
#reddit {
  animation: re-out .5s;
}

.contact-us:hover #reddit {
  animation: re-in 1s 1s ease-in-out forwards;
}

@-webkit-keyframes re-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 276px);
    opacity: 1;
  }
}

@-webkit-keyframes re-out {
  from {
    bottom: calc(100% - 276px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* 7 */
#plus {
  animation: pl-out .4s;
}

.contact-us:hover #plus {
  animation: pl-in 1s 1.2s ease-in-out forwards;
}

@-webkit-keyframes pl-in {
  /* from {
    bottom: 0px;
  } */

  to {
    bottom: calc(100% - 318px);
    opacity: 1;
  }
}

@-webkit-keyframes pl-out {
  from {
    bottom: calc(100% - 318px);
    opacity: 1;
  }

  /* to {
    bottom: 0px;
  } */
}


/* car sybol animation */
.arti-1-subcontent a:hover img {
  animation: car-symbol 600ms 1;
}

@-webkit-keyframes car-symbol {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}



/* fed-in-out animation */
.contact-ul-dropdown {
  animation: fed-out .8s linear forwards;
}

.contact-us:hover .contact-ul-dropdown {
  animation: fed-in 2s linear forwards;
}

@-webkit-keyframes fed-in {
  0% {
    height: 0px;
  }

  50% {
    height: calc(100% - 50px);
  }

  100% {
    bottom: auto;
    height: 318px;
  }
}

@-webkit-keyframes fed-out {
  0% {
    bottom: auto;
    height: calc(100% - 50px);
  }

  50% {
    height: calc(100% - 50px);
  }

  100% {
    height: 0px;
    bottom: 0;
  }
}